{% for company in companies %}

<div class="roomListRoom">
    <div class="roomListRoom__header">
        <a href="{% url 'home' %}?q={{company.name}}" class="roomListRoom__author">
        <div class="avatar avatar--small">
            {% if page == 'profile' %}
                <img src="{{company.logo.url}}" />
            {% else %}
                <img src="{{job.company.logo.url}}" />
            {% endif %}
        </div>
        <span class="roomListRoom__content">{{company.name}}</span>
        </a>
        <div class="roomListRoom__actions">
        <span>Updated: {{company.updated|timesince}} ago</span>
        </div>
    </div>
    
    <div class="roomListRoom__meta">
        <a href="{% url 'home' %}?q={{company.name}}" class="active">
            <span>{{company.job_set.all.count}}</span> Jobs Available
        </a>
        {% if request.user == user  %}
            <a href="{% url 'update-company' company.id %}" class="btn btn--main btn--pill">Edit Company</a>
        {% endif %}
    </div>
</div>

{% endfor %}